<html>
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=1.0;minimum-scale=1.0;user-scalable=0;">
	<link rel="stylesheet" type="text/css" href="/css/chat.css">
	<!--引入font-awesome字体样式-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <script src="/js/socket.io-1.4.5.js"></script>
	<script src="/js/client.js" type="text/javascript" charset="utf-8" async></script>
</head>
<body>
    <!--聊天区域-->
    <div  class="chat-message-box">
         <div class="chat-message-title-bar">
            <h2>James Dean</h2>
            <div class="chat-message-title-tools">
               <button type="button" class="btn btn-setting"></button>
               <button type="button" class="btn btn-close"></button>
            </div>
         </div>
         <ul id="messages" class="chat-messages">
              <li class="chat-message chat-message-right">
                  <div class="chat-message-container">
                     I'd hate to be a teetotaler. Imagine getting up in the morning and knowing that's as good as you're going to feel all day.
                  </div>
                  <figure>
                    <img src="/images/avatar1.png" alt="john">
                  </figure>
              </li>
              <li class="chat-message chat-message-left">
                  <div class="chat-message-container">
                     I'd hate to be a teetotaler. Imagine getting up in the morning and knowing that's as good as you're going to feel all day.
                  </div>
                  <figure>
                    <img src="/images/avatar1.png" alt="john">
                  </figure>
              </li>
         </ul>
         <div class="chat-message-typing-box">
          <form action="" name="senbox" id="sendbox">
                <textarea name="" id="m" placeholder=" Type a message …"></textarea>
                <div class="chat-message-typing-tools">
                    <a href="javascript:void(0)" class="btn btn-camera">camera</a>
                    <a href="javascript:void(0)" class="btn btn-smile">simle</a>
                    <a href="javascript:void(0)" class="btn btn-share">share</a>
                </div>
          </form>
         </div>
    </div>

	
    

</body>
</html>