/*基础样式重置*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, field set, legend,
input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
	-webkit-appearance:none;
}

*, *:before, *:after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

fieldset, img {
  border:0;
}

address, caption, cite, code,
dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}

li {
  list-style:none;
}

caption, th {
  text-align:left;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
}
abbr, acronym {
  border:0;
  font-variant:normal;
}

sup {
  vertical-align:text-top;
}

sub {
  vertical-align:text-bottom;
}

input, textarea, select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}

input:password {
  ime-mode:disabled;
}
*:focus {
  outline:none;
}
ul {
  margin:0;
	list-style:none;
}
a{
  color:#2982e5;
  text-decoration:none;
}
a:active {
  color:#f60;
}
/*对话框弹出样式*/
.dialog-panel{
    border:none;
    padding:20px;
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
       -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.5);
            box-shadow:0px 0px 10px rgba(0,0,0,0.5);
    min-width:250px;
    text-align: center;
}
.dialog-panel p{
    padding:10px 0px;
}
.dialog-panel button{
    display:inline-block;
    border:none;
    width:60px;
    height:30px;
    line-height: 30px;
    padding:0px 10px;
    background: rosybrown;
    text-align: center;
    color:#fff;
}
.dialog-panel button:hover{
    background: royalblue;
}

body{
  font-size:12px;
  color:#535353;
  font-family: Arial;
  background: #f4f4f4;
}

.chat-message-box{
  width:70em;
  height:auto;
  background: rgba(210,210,210,0.25);
  border:1px solid rgba(224,224,224,0.55);
  box-shadow:0px 0px 3.16em rgba(0,0,0,0.1) ;
  margin: 50px auto;
  display: flex;
  flex-direction:column;

}
.chat-message-title-bar{
  width:100%;
  height:3.667em;
  line-height: 3.667em;
  display:flex;
  background: #fff;
}
.chat-message-title-bar h2{
   text-align: left;
   text-indent: 1.667em;
   font-size: 1.167em;
   color:#212121;
   font-weight: bold;
   flex: 1;
}
button.btn,a.btn{
  display:inline-block;
  width:1.667em;
  height:1.333em;
  border:none;
  outline: none;
  background: none;
  cursor: pointer;
}
button.btn-setting{background: url(../images/icon_setting.png) no-repeat center top;margin:1.167em 0 0 0;}
button.btn-close{background: url(../images/icon_close.png) no-repeat center top;margin:1.167em 1.667em 0 0.833em;}
.chat-message-title-tools{
  width:6.8em;
}
.chat-messages{
   padding:3.583em 1.5em 0em 1.5em;
   height:32.5em;
   overflow-y:scroll;
}
.chat-messages::-webkit-scrollbar{
    width:10px;
    height:10px;
}
.chat-messages::-webkit-scrollbar-track{
    background: #333;
}
.chat-messages::-webkit-scrollbar-button {
    background: #333;
}
.chat-messages::-webkit-scrollbar-thumb{
    background: #fff;
}
 .chat-message{
  width:100%;
  height:15.167em;
  margin:0 0 2.75em 0;
  display:flex;

}
 .chat-message figure{
  margin:0;
  width:4.167em;
  height:100%;
  margin:0 0 0 1em;
}
 .chat-message figure img{
     border-radius: 0.5em;
 }
  .chat-message figure img:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  }
 .chat-message-container{
  flex:1;
  border:1px solid #e9e9e9;
  border-radius: 3px;
  height:auto;
  background:#fff;
  position: relative;
  padding:1.333em 1.917em;
  font-size: 1.167em;
  font-weight: bold;
  line-height: 2em;
  box-shadow: 0px 0px 1.333em rgba(0,0,0,0.1);
}
.chat-message-container:before{
    content:"";
    display:block;
    background: #fff;
    position: absolute;
    right:-0.5em;
    top:1.25em;
    width:1em;
    height:1em;
    transform: rotate(45deg);
}
.chat-message-left{
   flex-direction: row-reverse;
}
.chat-message-right{
   flex-direction: row;
}
.chat-message-left   figure{
  margin: 0 1em 0 0;
}
.chat-message-left .chat-message-container:before{
  left:-0.5em;
}
.chat-message-typing-box{
   width:100%;
   border-top:1px solid #e9e9e9;
   height:8.167em;
   background: #fff;
   position: relative;
   margin:2.75em  0 0 0;
}
.chat-message-typing-box textarea{
  resize: none;
  width:100%;
  height:100%;
  color:#d0d0d0;
  font-weight: bold;
  font-size:16px;
  text-align: left;
  text-indent:10px;
  padding:10px;
}
.chat-message-typing-tools{
  position:absolute;
  width:7.667em;
  height:3em;
  right:2.250em;
  bottom: 1.250em;
}
input.btn-submit{
  background: #333;
  border:none;
  width:100%;
  height:100%;
  line-height: 150%;
  color:#fff;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
input.btn-submit:hover{
  background: #666;
}